@model Model.Entities.CostDefine


<div class="container">
    <h1>گروه جدید</h1>
    <hr />
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form asp-area="Admin" asp-action="Create" asp-controller="CostDefine" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="اطلاعات جدید"  class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-info">بازگشت به لیست</a>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    
    
}
