@model Model.Entities.CostDefine

<div class="container">
    <h4>ویرایش هزینه</h4>
    <hr />
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form asp-area="Admin" asp-action="Edit" asp-controller="CostDefine" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CostDefineId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="ثبت تغییرات" class="btn btn-warning" />
                    <a asp-action="Index" class="btn btn-info">بازگشت به لیست</a>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

