<div class="card card-custom bg-white rounded p-10 card-border border-light-success gutter-b card-stretch card-shadowless">

    <!--begin::Body-->
    <div class="card-body" style="position: relative;">
        <div class="d-flex align-items-center mb-6">

            <!--begin::متن-->
            <div class="d-flex flex-column flex-grow-1 py-2">
                <a asp-area="UserPanel" asp-controller="Manage" asp-action="ShowInfo" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
                    پروفایل کاربری
                </a>

            </div>
            <!--end::متن-->

        </div>
        <div class="d-flex align-items-center mb-6">

            <!--begin::متن-->
            <div class="d-flex flex-column flex-grow-1 py-2">
                <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
                    تغییر رمز عبور
                </a>

            </div>
            <!--end::متن-->

        </div>
        <div class="d-flex align-items-center mb-6">

            <!--begin::متن-->
            <div class="d-flex flex-column flex-grow-1 py-2">
                <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
                    ویرایش پروفایل
                </a>

            </div>
            <!--end::متن-->

        </div>
        <div class="d-flex align-items-center mb-6">

            <!--begin::متن-->
            <div class="d-flex flex-column flex-grow-1 py-2">
                <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
                    سفارشات
                </a>

            </div>
            <!--end::متن-->

        </div>
        <div class="d-flex align-items-center mb-6">

            <!--begin::متن-->
            <div class="d-flex flex-column flex-grow-1 py-2">
                <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
                    پیگیری
                </a>

            </div>
            <!--end::متن-->

        </div>
        <div class="d-flex align-items-center mb-6">

            <!--begin::متن-->
            <div class="d-flex flex-column flex-grow-1 py-2">
                <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
                    پیامک ها
                </a>

            </div>
            <!--end::متن-->

        </div>
        <div class="d-flex align-items-center mb-6">

            <!--begin::متن-->
            <div class="d-flex flex-column flex-grow-1 py-2">
                <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
                    پرداختی ها
                </a>

            </div>
            <!--end::متن-->

        </div>
        <div class="d-flex align-items-center mb-6">

            <!--begin::متن-->
            <div class="d-flex flex-column flex-grow-1 py-2">
                <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
                    تیکت ها
                </a>

            </div>
            <!--end::متن-->

        </div>
        <div class="d-flex align-items-center mb-6">

            <!--begin::متن-->
            <div class="d-flex flex-column flex-grow-1 py-2">
                <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
                    خروج
                </a>

            </div>
            <!--end::متن-->

        </div>
    </div>
    <!--end::Body-->
</div>