@model Model.Entities.Ticket

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>تیکت جدید</h1>

    <hr />
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="dropdown bootstrap-select form-control mb-5">
                    <label asp-for="Reciver" class="control-label"></label>
                    <select class="form-control selectpicker" asp-for="Reciver" data-live-search="true" tabindex="null" asp-items="ViewBag.Reciver">
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" id="editor"></textarea>  
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="بازگشت به لیست" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-info">بازگشت به لیست</a>

                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/ckeditor5/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                // The language code is defined in the https://en.wikipedia.org/wiki/ISO_639-1 standard.
                language: 'fa'
            })
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}
