@model Model.Entities.AllMessage

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>ثبت پیام جدید</h1>

    <hr />
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form asp-area="Admin" asp-controller="AllMessages" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CurrentUserId" class="control-label"></label>
                    <input asp-for="CurrentUserId" class="form-control" />
                    <span asp-validation-for="CurrentUserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="SmsDate" class="control-label"></label>
                    <input asp-for="SmsDate" class="form-control" />
                    <span asp-validation-for="SmsDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Kind" class="control-label"></label>
                    <select asp-for="Kind" class="form-control"></select>
                    <span asp-validation-for="Kind" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SmsStatus" class="control-label"></label>
                    <input asp-for="SmsStatus" class="form-control" />
                    <span asp-validation-for="SmsStatus" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="ثبت جدید" class="btn btn-success" />
                    <a asp-area="Admin" asp-controller="AllMessages" asp-action="Index">بازگشت به لیست</a>
                </div>
            </form>
        </div>
    </div>


</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
