
@{
    ViewData["Title"] = "Index";
}



<!--begin::لیست Widget 2-->
<div class="card card-custom bg-white rounded p-10 card-border border-light-primary gutter-b card-stretch card-shadowless">

    <!--begin::Body-->
    <div class="card-body pt-2">

    </div>
    <!--end::Body-->
</div>
<!--end::لیست Widget 2-->