
@{
    ViewData["Title"] = "Index";
}



<!--begin::لیست Widget 2-->
<div class="card card-custom bg-light-success gutter-b card-stretch card-shadowless">

    <!--begin::Body-->
    <div class="card-body pt-2">
        <!--begin::Item-->
        <div class="d-flex align-items-center mb-10">
            <!--begin::سیمبل-->
            <div class="symbol symbol-40 symbol-light-white mr-5">
                <div class="symbol-label">
                    <img src="assets/media/svg/avatars/004-boy-1.svg" class="h-75 align-self-end" alt="">
                </div>
            </div>
            <!--end::سیمبل-->
            <!--begin::متن-->
            <div class="d-flex flex-column font-weight-bold">
                <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">علیرضا مرادی</a>
                <span class="text-muted">تجارت</span>
            </div>
            <!--end::متن-->
        </div>
        <!--end::Item-->
        <!--begin::Item-->
        <div class="d-flex align-items-center mb-10">
            <!--begin::سیمبل-->
            <div class="symbol symbol-40 symbol-light-white mr-5">
                <div class="symbol-label">
                    <img src="assets/media/svg/avatars/002-girl.svg" class="h-75 align-self-end" alt="">
                </div>
            </div>
            <!--end::سیمبل-->
            <!--begin::متن-->
            <div class="d-flex flex-column font-weight-bold">
                <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">زینب غلامی</a>
                <span class="text-muted">کارگردان خلاق</span>
            </div>
            <!--end::متن-->
        </div>
        <!--end::Item-->
        <!--begin::Item-->
        <div class="d-flex align-items-center mb-10">
            <!--begin::سیمبل-->
            <div class="symbol symbol-40 symbol-light-white mr-5">
                <div class="symbol-label">
                    <img src="assets/media/svg/avatars/007-boy-2.svg" class="h-75 align-self-end" alt="">
                </div>
            </div>
            <!--end::سیمبل-->
            <!--begin::متن-->
            <div class="d-flex flex-column font-weight-bold">
                <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">محمد زندی</a>
                <span class="text-muted">توسعه دهنده</span>
            </div>
            <!--end::متن-->
        </div>
        <!--end::Item-->
        <!--begin::Item-->
        <div class="d-flex align-items-center mb-10">
            <!--begin::سیمبل-->
            <div class="symbol symbol-40 symbol-light-white mr-5">
                <div class="symbol-label">
                    <img src="assets/media/svg/avatars/008-boy-3.svg" class="h-75 align-self-end" alt="">
                </div>
            </div>
            <!--end::سیمبل-->
            <!--begin::متن-->
            <div class="d-flex flex-column font-weight-bold">
                <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">رندی ترنت</a>
                <span class="text-muted">توسعه دهنده بک اند</span>
            </div>
            <!--end::متن-->
        </div>
        <!--end::Item-->
        <!--begin::Item-->
        <div class="d-flex align-items-center mb-2">
            <!--begin::سیمبل-->
            <div class="symbol symbol-40 symbol-light-white mr-5">
                <div class="symbol-label">
                    <img src="assets/media/svg/avatars/009-boy-4.svg" class="h-75 align-self-end" alt="">
                </div>
            </div>
            <!--end::سیمبل-->
            <!--begin::متن-->
            <div class="d-flex flex-column font-weight-bold">
                <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">علی جمشیدی</a>
                <span class="text-muted">مدیر پروژه</span>
            </div>
            <!--end::متن-->
        </div>
        <!--end::Item-->
    </div>
    <!--end::Body-->
</div>
<!--end::لیست Widget 2-->