@using Common.Library
@model Model.Entities.CostDefine



<div class="container">
    <div>
        <h4>شرح هزینه </h4>

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
    </div>
    <div>
        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.CostDefineId">ویرایش</a>
        <a asp-action="Index" class="btn btn-info">بازگشت به لیست</a>
    </div>
</div>

