@using Common.Library
@model Model.Entities.Sale
<link href="~/lib/Kendo/css/kendo.common.min.css" rel="stylesheet" />
<link href="~/lib/Kendo/css/kendo.default.min.css" rel="stylesheet" />
<div class="container">
    <h4>فروش جدید</h4>
    <hr />
    <div class="col-md-12 mx-auto">
        <form asp-area="Admin" asp-controller="Sales" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-lg-3 col-md-3 col-sm-12">
                    <label asp-for="SaleDate" class="control-label"></label>
                    <input type="text" id="date" name="date" value="@DateTime.Now.ToShamsi()" class="form-control w-100">
                    <span asp-validation-for="SaleDate"></span>
                </div>

                <div class=" form-group col-lg-9 col-md-9 col-sm-12">
                    <label asp-for="UserId" class="control-label"></label>
                    <select class="form-control selectpicker" asp-for="UserId" data-live-search="true" tabindex="null" asp-items="ViewBag.CustomerId">
                    </select>
                </div>
            </div>

            <div class="row">

                <div class="form-group col-lg-9 col-md-9 col-sm-12">
                    <label asp-for="ProductId" class="control-label"></label>
                    <select class="form-control selectpicker" asp-for="ProductId" data-live-search="true" tabindex="null" asp-items="ViewBag.ProductId">
                    </select>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-12">
                    <label asp-for="SalePrice" class="control-label"></label>
                    <input asp-for="SalePrice" class="form-control" />
                    <span asp-validation-for="SaleDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" id="editor"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="ثبت فروش" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">بازگشت به لیست</a>

            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/ckeditor5/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                // The language code is defined in the https://en.wikipedia.org/wiki/ISO_639-1 standard.
                language: 'fa'
            })
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script src="~/lib/Kendo/js/jquery-1.12.4.min.js"></script>

    <script src="~/lib/Kendo/js/JalaliDate.js"></script>
    <script src="~/lib/Kendo/js/kendo.web.js"></script>
    <script src="~/lib/Kendo/js/fa-IR.js"></script>
    <script src="~/lib/Kendo/js/kendo.calendar.fa.js"></script>
    <script src="~/lib/Kendo/js/kendo.datepicker.fa.js"></script>
    <script>
        $(document).ready(function () {

            // create DatePicker from input HTML element
            //$("#datepicker").kendoDatePicker({ culture: "en-US" });
            $("#date").kendoDatePickerShamsi({ culture: "fa-IR" });
            //$("#datepickerTo").kendoDatePickerShamsi({ culture: "fa-IR" });

            //$("#calendar").kendoCalendar({ culture: "en-US" });
            //$("#calendarShamsi").kendoCalendarShamsi({ culture: "fa-IR" });

            //$("#timepicker").kendoTimePicker();
        });
    </script>
}
