@model Model.Entities.Faq

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1 class="card-title">ویرایش سوال</h1>
    <hr />
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="FaqId" />
                <div class="form-group">
                    <label asp-for="FaqTitle" class="control-label"></label>
                    <input asp-for="FaqTitle" class="form-control" />
                    <span asp-validation-for="FaqTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FaqAnswer" class="control-label"></label>
                    <textarea id="editor" asp-for="FaqAnswer" class="form-control"></textarea>
                    <span asp-validation-for="FaqAnswer" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label asp-for="DateCreate" class="control-label"></label>
                        <input asp-for="DateCreate" class="form-control" />
                        <span asp-validation-for="DateCreate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <input type="submit" value="ثبت تغییرات" class="btn btn-warning" />
                    <a asp-action="Index" class="btn btn-info">بازگشت به لیست</a>

                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script>

        CKEDITOR.replace('editor', {
            customConfig: '/lib/ckeditor/Config.js'
        });

    </script>
}
