@model Model.Entities.Product

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h4 class="card-title">تغییرات محصول</h4>
    <hr />
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form asp-action="Edit" asp-area="Admin" asp-controller="Products" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductId" />
                <input type="hidden" asp-for="Image" />
                <input type="hidden" asp-for="UpDateTime" />

                <div class="form-group">
                    <label asp-for="ProductGroupId" class="control-label"></label>
                    <select asp-for="ProductGroupId" class="form-control" asp-items="ViewBag.ProductGroupId"></select>
                    <span asp-validation-for="ProductGroupId" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label asp-for="InsertDate" class="control-label"></label>
                        <input asp-for="InsertDate" class="form-control" />
                        <span asp-validation-for="InsertDate" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="ShortText" class="control-label"></label>
                    <input asp-for="ShortText" class="form-control" />
                    <span asp-validation-for="ShortText" class="text-danger"></span>
                </div>

                <div class="form-group col-md-12 col-lg-6 col-sm-12">
                    <label asp-for="BrandId" class="control-label"></label>
                    <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                </div>


                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input name="imgUp" type="file" asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <input type="submit" value="ثبت تغییرات" class="btn btn-warning" />
                    <a asp-action="Index" class="btn btn-info">بازگشت به لیست</a>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

   
}
